
/* Avatar
   ========================================================================== */

.c-avatar {
  width: 3.2rem;
  height: 3.2rem;
  line-height: 3.2rem;
  text-align: center;
  font-size: 1.6rem;
  border-radius: 100%;
  background: #DDD;
}
