
/* Badge
   ========================================================================== */

.c-badge {
  background: #DDD;
  color: #000;
  display: inline-block;
  border-radius: 1.2rem;
  padding: 0.3rem 1.2rem;
  font-size: 1.3rem;
}