
/* Buttons
   ========================================================================== */

.c-button {
  padding: 0.8rem 1.4rem;
  display: inline-block;
  appearance: none;
  border-radius: 0.3rem;
  text-decoration: none;
}

.c-button--default {
  &,
  &:link,
  &:visited {
    color: $color-gray-500;
    background: $color-gray-100;
  }
}

.c-button--primary {
  &,
  &:link,
  &:visited {
    color: #FFF;
    background: $color-blue-500;
  }
}
