/* Card 
   ========================================================================== */

.c-card {
  background: $color-gray-50;
  border: 0.1rem solid $color-gray-100;
  border-radius: 0.3rem;
  padding: 1.6rem;
  margin: 0 0 1.6rem;
}
