/* Base
   ========================================================================== */

:root {
  font-size: 62.5%;
  --gray-50:   #F2F2F2;
  --gray-100:  #E6E6E6;
  --gray-200:  #CCCCCC;
  --gray-300:  #B3B3B3;
  --gray-400:  #999999;
  --gray-500:  #808080;
  --gray-600:  #666666;
  --gray-700:  #4D4D4D;
  --gray-800:  #333333;
  --gray-900:  #000000;
  --blue-200:  #959EF8;
  --blue-500:  #4F51D9;
  --blue-700:  #3D32B0;
}

:root {
  --body-bg: var(--gray-0);
  --body-color: var(--gray-800);
}

@media (prefers-color-scheme: dark) {
  :root {
    --body-bg: var(--gray-1000);
    --body-color: var(--gray-700);
  }
}

body {
  font-size: 1.6rem;
  line-height: 1.5;
  font-family: Inter, sans-serif;
  padding: 2.4rem;
  color: var(--body-color);
  background: var(--body-bg);
}

/* Base 
   ========================================================================== */

:root {
  --headings-color: var(--gray-700);
  --link-color: var(--blue-500);
}

@media (prefers-color-scheme: dark) {
  :root {
    --headings-color: var(--gray-400);
    --link-color: var(--blue-500);
  }
}

h1, h2, h3 {
  color: var(--headings-color);
  font-weight: 700;
}

a, a:link, a:visited {
  color: var(--link-color);
}

strong {
  color: var(--gray-800);
}