/* ==========================================================================
  Portable.css - SCSS version
   ========================================================================== */

/* Color variables
   ========================================================================== */

$color-gray-50:   #F2F2F2;
$color-gray-100:  #E6E6E6;
$color-gray-200:  #CCCCCC;
$color-gray-300:  #B3B3B3;
$color-gray-400:  #999999;
$color-gray-500:  #808080;
$color-gray-600:  #666666;
$color-gray-700:  #4D4D4D;
$color-gray-800:  #333333;
$color-gray-900:  #000000;

$color-blue-200:  #959EF8;
$color-blue-500:  #4F51D9;
$color-blue-700:  #3D32B0;


/* Base elements
   ========================================================================== */

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  line-height: 1.5;
  font-family: Inter, Arial, sans-serif;
  padding: 2.4rem;
  color: $color-gray-800;
}

strong {
  color: $color-gray-900;
}

h1, h2, h3 {
  color: $color-gray-800;
  @media (prefers-color-scheme: dark) {
    color: $color-gray-400;
  }
  font-weight: 700;
}

a, a:link, a:visited {
  color: $color-blue-500;
}

/* Components 
   ========================================================================== */

@import "_c-avatar";
@import "_c-badge";
@import "_c-button";
@import "_c-card";
@import "_c-list";