
/* Base
   ========================================================================== */

:root {
  font-size: 62.5%;
  --gray-0:    #FFFFFF;
  --gray-50:   #FDFDFD;
  --gray-100:  #FAFAFB;
  --gray-200:  #F2F2F4;
  --gray-300:  #E7E7E9;
  --gray-400:  #D7D7D9;
  --gray-500:  #C2C2C5;
  --gray-600:  #A7A7AA;
  --gray-700:  #858587;
  --gray-800:  #5D5D5E;
  --gray-900:  #2F2F30;
  --gray-1000: #000000;
  --blue-0:    #D1D6FF;
  --blue-50:   #C2C8FE;
  --blue-100:  #B3BBFC;
  --blue-200:  #959EF8;
  --blue-300:  #7A83F0;
  --blue-400:  #6369E6;
  --blue-500:  #4F51D9;
  --blue-600:  #443FC7;
  --blue-700:  #3D32B0;
  --blue-800:  #382795;
  --blue-900:  #311D76;
  --blue-1000: #271457;
}

:root {
  --body-bg: var(--gray-0);
  --body-color: var(--gray-800);
}

@media (prefers-color-scheme: dark) {
  :root {
    --body-bg: var(--gray-1000);
    --body-color: var(--gray-700);
  }
}

body {
  font-size: 1.6rem;
  font-family: Arial, sans-serif;
}



body {
  line-height: 1.5;
  font-family: Inter, sans-serif;
  padding: 2.4rem;
  color: var(--body-color);
  background: var(--body-bg);
}

/* Base 
   ========================================================================== */

:root {
  --headings-color: var(--gray-700);
  --link-color: var(--blue-500);
}

@media (prefers-color-scheme: dark) {
  :root {
    --headings-color: var(--gray-400);
    --link-color: var(--blue-500);
  }
}

h1, h2, h3 {
  color: var(--headings-color);
  font-weight: 700;
}

a {
  color: --var(--link-color);
}

/* Preview
   ========================================================================== */

.c-preview {
  padding: 2.4rem;
  border: 0.1rem solid var(--gray-400);
  max-height: 30rem;
  overflow: scroll;
}

/* Textarea
   ========================================================================== */

.c-textarea {
  width: 100%;
  min-height: 40rem;
  padding: 0.3rem;
  border: 0.1rem solid var(--gray-400);
}

.c-textarea--code {
  font-family: monospace;
}