/* todo */

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  line-height: 1.5;
  font-family: Inter, sans-serif;
  padding: 2.4rem;
}

h1, h2, h3 {
  font-weight: 700;
}

a {
}

/* Preview
   ========================================================================== */

.c-preview {
  padding: 2.4rem;
  max-height: 30rem;
  overflow: scroll;
}

/* Textarea
   ========================================================================== */

.c-textarea {
  width: 100%;
  min-height: 40rem;
  padding: 0.3rem;
}

.c-textarea--code {
  font-family: monospace;
}